<template>
    <div>
        <b-nav tabs>
            <b-nav-item disabled><b>Opentdb API Quiz</b></b-nav-item>
            <b-nav-item disabled class="score" :class="step" >Your score: {{userRightsAnswer}}/{{maxQuestion}}</b-nav-item>
        </b-nav>
    </div>
</template>

<script>
export default{
    props:{
        maxQuestion: Number,
        userRightsAnswer: Number
    },
    computed: {
        step()
        {
            if( this.userRightsAnswer < this.maxQuestion/2)
            {
                return "begginer";
            }
            else if( this.userRightsAnswer >= (this.maxQuestion/2) && (this.userRightsAnswer <= ( (this.maxQuestion/2) + (this.maxQuestion/4) )) )
            {
                return "wip";
            }
            else
            {
                return "great";
            }
        }
    }
}
</script>

<style scoped>

.nav-item.score a{
    font-weight: 600;
    color: inherit;
}
.begginer{
    /*color:#2e333e*/
    color: #b54646;
}
.wip{
    color:#e39a0d ;
}
.great{
    color: #37ac0c;
}
</style>