<template>
    <div>
        <b-modal id="bv-modal-results" hide-footer @hide="closeModal">
            <template v-slot:modal-title>
            {{message}}
            </template>
            <div class="d-block text-center">
            <h3>Score: {{rightAnswers}}</h3>
            </div>
            <b-button class="mt-3" block @click="closeModal">Try again</b-button>
        </b-modal>
    </div>
</template>
<script>
export default {
    props:{
        rightAnswers: Number,
        max: Number
    },
    mounted(){
        this.$bvModal.show("bv-modal-results");
    },
    methods:{
        closeModal()
        {
            this.$emit("close", 'bv-modal-results');
        }
    }, 
    computed:{
        message(){           
            if( (this.max/2) == this.rightAnswers )
            {
                return "Well done, you have the average !\nYou can do better, try again.";
            }
            else if( this.rightAnswers < ((this.max/2)/2))
            {
                return "You can do it ! Try again.";
            }
            else if( (this.max/2) > this.rightAnswers &&  this.rightAnswers > ((this.max/2)/2) )
            {
                return "Oops, you  were almost there!\nYou can do it ! Try again."
            }
            else if( (this.max/2) < this.rightAnswers && this.rightAnswers <= this.max/2+ ((this.max/2)/2) )
            {
                return "Good game !! Try again if you think you can do better!";
            }
            else if( this.rightAnswers > (this.max/2+ ((this.max/2)/2)) && this.rightAnswers < this.max)
            {
                return "Awesome! you can try again to get the maximum score.";
            }
            else
            {
                return "Congratulations !!! You did it ! :D"
            }
        }
    }
}
</script>