<template>
    <div class="container">
        <b-jumbotron>
            <template v-slot:lead class="question__title">
                {{ currentQuestion.question | html_entity }}
            </template>
            <hr class="my-4">
            <p>
                <b-list-group>
                    <b-list-group-item :variant="variant(a)" @click="setAnswer(a)" :key="i" v-for="(a, i) in answers ">
                        {{a| html_entity}}
                    </b-list-group-item>
                </b-list-group>
            </p>
            <div class="button_container">
                <b-button variant="primary" href="#" @click="submitAnswer">Submit answer</b-button>
                <b-button variant="success" href="#" @click="next">Skip this question</b-button>
                <b-button variant="info" href="#" @click="OnChangeCategory">Change question category</b-button>
            </div>
        </b-jumbotron>
    </div>
</template>
<script>
export default {
    props:{
        currentQuestion:{
            type: Object,
        },
    },
    data(){
        return {
            user_answer: ""
        }
    },
    methods:{
        next(){
            this.$emit("next")
        },
        submitAnswer()
        {
            if( this.user_answer )
                this.$emit('submit', this.user_answer);
                this.user_answer = "";
        },
        setAnswer(answer)
        {
            this.user_answer = this.$options.filters.html_entity(answer);
        },
        variant(a)
        {
            if( this.user_answer === this.$options.filters.html_entity(a) )
                return 'info';
            return '';
        },
        OnChangeCategory()
        {
            this.$emit('onChange');
        }
    },
    computed:{
        answers(){
            let random_index = Math.round(Math.random() * this.currentQuestion.incorrect_answers.length);
            let answers = [...this.currentQuestion.incorrect_answers];
            // mix the right and wrong answers
            answers.splice(random_index, 0, this.currentQuestion.correct_answer);
            return answers;
        },
    }
}
</script>

<style scoped>
.button_container{
    display: flex;
    justify-content: center;
}
.lead{
    background:#4f4c4c;
    padding: 1em;
    border-radius: 4px;
    border: 1px solid #130101;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
.list-group-item{
    cursor: pointer;
}
.button_container a{
    margin: 0 1em;
}
.list-group-item{
    transition: background .2s;
}
.list-group-item-info{
    background-color: #c9eed9;
}
.list-group-item:hover{
    background-color: #c9eed9;
}

.btn-primary, .btn-primary:active, .btn-primary:focus{
    background-color: #22a65b !important;
    /* background-color: #26864f  ! important; */
    border: none !important;
    font-weight: 600;
    outline: none !important;
    box-shadow: none !important;
}
.btn-primary:hover{
    background: #088b41 !important;
}
.btn-success, .btn-success:active, .btn-success:focus{
    /* background-color:#505351 !important; */
    /* background-color: #7b7b7b !important; */
    background-color: #b55757 !important;
    border: none !important;
    font-weight: 600;
    outline: none !important;
    box-shadow: none !important;
}
.btn-success:hover{
    background-color: #8e4141 !important;
}
.btn-info, .btn-info:active, .btn-info:focus{
    /* background-color: #999e9e !important; */
    background-color: #4c4f4f !important;
    border: none !important;
    font-weight: 600;
    outline: none !important;
    box-shadow: none !important;
}
.btn-info:hover{
    background-color: #6d7677 !important;
}

@media only screen and (max-width: 800px)
{
    .button_container{
        flex-direction: column;
    }
    .button_container a{
        margin: .5em 0;
    }
}
</style>