<template>
    <div class="container">
        <h2>Choose the question category</h2>
        <b-form-group id="input-group-choice" label="" label-for="input-choice">
            <br>
            <b-form-select
            id="input-choice"
            v-model="choice"
            :options="categories"
            required
            ></b-form-select>
        </b-form-group>
        <b-button class="mt-3" variant="success" block @click="onSubmit">Submit choice</b-button>
    </div>
</template>
<script>
export default {
    props :{
        categories: {
            type: Array,
        }
    },
    data(){
        return {
            choice: "all"
        }
    },
    methods:{
        onSubmit(){
            if(this.choice)
                this.$emit("onSubmit", this.choice);
        }
    }
}
</script>

<style scoped>
h2{
    font-weight: 600;
    text-transform: uppercase;
}
.btn-success
{
    background-color: #2c3e50;
    border-color: #2c3e50;
    font-weight: 600;
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus{
    background-color: #232d36 !important;
    border-color: #232d36 !important;
    box-shadow: none !important;
    outline: none !important;
}
</style>