<template>
  <div id="app">
    <div v-if="category">
      <h1 class="title">Quiz : <span class="category_type">{{categoryText}}</span></h1>
      <Header :maxQuestion="maxQuestion" :userRightsAnswer="rightAnswers"></Header>
      <b-container class="bv-example-row">
        <b-row>
          <b-col v-if="questions.length">
            <QuestionBox v-if="questions[index]" @submit="correction" @next="nextQuestion" @onChange="changeCategory" :currentQuestion="questions[index]"></QuestionBox>
            <ModalResult :rightAnswers="rightAnswers" :max="maxQuestion" v-else @close="closeModal"></ModalResult>
          </b-col>
        </b-row>
      </b-container>
    </div>
    <div v-else>
      <QuizChoice :categories="questionCategories" @onSubmit="setQuestionCategory"></QuizChoice>
    </div>
  </div>
</template>

<script>
import Header from './components/Header.vue';
import QuestionBox from './components/QuestionBox.vue';
import ModalResult from './components/ModalResult.vue';
import QuizChoice from './components/QuizChoice.vue';
//<b-button id="show-btn" @click="$bvModal.show('bv-modal-example')">Open Modal</b-button>
export default {
  name: 'App',
  components: {
    Header,
    QuestionBox,
    ModalResult,
    QuizChoice,
  },
  data(){
    return {
      questions: [],
      category:'',
      index: 0,
      maxQuestion: 10,
      rightAnswers: 0,
    }
  },
  computed:{
    categoryText()
    {
      return this.questionCategories.filter(cat => cat.value == this.category )[0].text;
    },
    getApiUrl()
    {
      if( this.category.toLowerCase() === "all")
        return `https://opentdb.com/api.php?amount=${this.maxQuestion}&type=multiple`
      return `https://opentdb.com/api.php?amount=${this.maxQuestion}&category=${this.category}&type=multiple`
    },
    questionCategories(){
      return [
        {value: "all", text: "Any Category"},
        {value: "9", text: "General Knowledge"},
        {value: "10", text: "Entertainment: Books"},
        {value: "11", text: "Entertainment: Film"},
        {value: "12", text: "Entertainment: Music"},
        {value: "13", text: "Entertainment: Musicals & Theatres"},
        {value: "14", text: "Entertainment: Television"},
        {value: "15", text: "Entertainment: Video Games"},
        {value: "16", text: "Entertainment: Board Games"},
        {value: "17", text: "Science & Nature"},
        {value: "18", text: "Science: Computers"},
        {value: "19", text: "Science: Mathematics"},
        {value: "20", text: "Mythology"},
        {value: "21", text: "Sports"},
        {value: "22", text: "Geography"},
        {value: "23", text: "History"},
        {value: "24", text: "Politics"},
        {value: "25", text: "Art"},
        {value: "26", text: "Celebrities"},
        {value: "27", text: "Animals"},
        {value: "28", text: "Vehicles"},
        {value: "29", text: "Entertainment: Comics"},
        {value: "30", text: "Science: Gadgets"},
        {value: "31", text: "Entertainment: Japanese Anime & Manga"},
        {value: "32", text: "Entertainment: Cartoon & Animations"},
      ]
    }
  },
  methods:{
    setQuestionCategory(category)
    {
      this.category = category;
    },
    nextQuestion()
    {
      //if( this.index < this.maxQuestion-1)
        this.index += 1;
    },
    changeCategory(){
      this.questions = [];
      this.category = "";
    },
    correction(answer)
    {
      if(this.index < this.maxQuestion )
      {
        let correctAnswer = this.questions[this.index].correct_answer;
        if(this.$options.filters.html_entity(correctAnswer) === answer)
          this.rightAnswers++;
        this.nextQuestion();
      }
    },
    setQuestion()
    {
      fetch(this.getApiUrl, {
        method: 'get'
      }).then(response =>{
        return response.json();
      }).then(jsonData=>{
        this.questions = jsonData.results;
      })
    },
    closeModal(id) 
    {
      this.questions = [];
      this.index = 0;
      this.rightAnswers = 0;
      this.setQuestion();
      this.$bvModal.hide(id);
    }
  },
  // mounted(){
  //   this.setQuestion();
  // },
  watch:{
    category(value)
    {
      this.category = value;
      this.setQuestion();
    }
  }
}
</script>

<style>
h1.title{
  font-weight: 600;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.category_type{
  color: #918080;
}
</style>
